html {
	font-size: 16px;
}

body {
	font-size: 16px;
	letter-spacing: .025rem;
}

.container {
	padding: 0;
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F73335), to(#FEDE78))!important;
}

h1.title {
	text-align: center;
	font-size: 1.5rem;
    letter-spacing: .2rem;
	font-weight: bold;
    color: orange;
    text-shadow: 0 0 1px currentColor,-1px -1px 1px #030,0 -1px 1px #030,1px -1px 1px #030,1px 0 1px #030,1px 1px 1px #030,0 1px 1px #030,-1px 1px 1px #030,-1px 0 1px #030;
    margin-bottom: -.2rem;
}

.weui-article {
    padding: 0 .938rem;
    font-size: 1rem;
    margin-top: .938rem;
}

.weui-article section {
    margin-top: .5rem;
    margin-bottom: -.5rem;
}

.weui-article section p,
.weui-article section ul {
	color: oldlace;
    font-size: 1rem;
}

.weui-article section p.emphasis {
    font-size: 1.125rem;
    margin-top: 1rem;
}

.weui-panel__hd {
    font-weight: 600;
    font-size: 1.25rem;
    color: oldlace;
    padding: .5rem .938rem;
}

.weui-media-box {
	padding: .5rem .938rem;
}

.weui-panel__hd:before, .weui-media-box:before, .weui-cell:before, 
.weui-panel__hd:after, .weui-media-box:after, .weui-cell:after {
	left: 0;
}

.weui-media-box__title {
    font-weight: 600;
    font-size: 1.25rem;
    color: oldlace;
}

.weui-media-box__desc {
    color: #FFF;
    font-size: 1rem;
}

.weui-btn_mini.my-narrow-button {
    padding: 0 .5rem;
    letter-spacing: .025rem;
    font-size: 1rem;
}

.weui-footer__text {
    font-size: .5rem;
}

.weui-cell_link {
    font-size: .938rem;
}

.margin-top-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1rem;
    width: 100%;
}