<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>微信红包</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
<link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css" />
<link rel="stylesheet" href="/css/app.css" />
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="address=no" />
<script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
</head>
<body>

<div class="container" id="container">
	<div class="page panel">
	    <div class="page__hd">
		    <article class="weui-article">
		           <h1 class="title">众信香油</h1>
		           <h1 class="title">千万红包送不停！</h1>
		           <section>
		           		<p>为答谢您对我们产品的支持和厚爱，只需按照如下步骤操作，即可拿到现金大红包！</p>
		           </section>
		    </article>
	    </div>
        <div class="weui-panel_access">
            <div class="weui-panel__hd">操作步骤</div>
            <div class="weui-panel__bd">
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" src="/images/1.png" alt="" />
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">关注公众号</h4>
                        <p class="weui-media-box__desc">打开<button id="subscribe_btn" class="weui-btn weui-btn_mini weui-btn_primary my-narrow-button" href='https://mp.weixin.qq.com/mp/profile_ext?action=home&amp;__biz=MzI0MTE3MzI2NQ==&amp;scene=124#wechat_redirect'>众信香油公众号</button>，点击关注，如果已经关注则忽略这一步。</p>
                    </div>
                </a>
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" src="/images/2.png" alt="" />
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">微信认证登录</h4>
                        <p class="weui-media-box__desc">点击该按钮<button id="oauth2_btn" class="weui-btn weui-btn_mini weui-btn_primary my-narrow-button" th:href="@{${oauth2AuthorizationUrl}}">微信认证</button>，通过微信认证。（必做）</p>
                    </div>
                </a>
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" src="/images/3.png" alt="" />
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">分享朋友圈</h4>
                        <p class="weui-media-box__desc">将微信认证后的页面分享到朋友圈，即可领取现金红包！（必做）</p>
                    </div>
                </a>
            </div>
        </div>
	</div>
	
    <div class="weui-footer margin-top-footer">
           <p class="weui-footer__links">
               <a href="javascript:void(0);" class="weui-footer__link">微信红包</a>
           </p>
           <p class="weui-footer__text">Copyright © 2008-2016 inthb.com</p>
    </div>
</div>

	<script th:inline="javascript">
	/*<![CDATA[*/
	
		'use strict';
	
		var message = [[${p_id}]];
		var config = {
			debug: false,
			appId: /*[[${jsapiSignature.appId}]]*/'appId',
			timestamp: /*[[${jsapiSignature.timestamp}]]*/'timestamp',
			nonceStr: /*[[${jsapiSignature.nonceStr}]]*/'nonceStr',
			signature: /*[[${jsapiSignature.signature}]]*/'signature',
			// https://mp.weixin.qq.com/wiki?t=resource/res_main&amp;id=mp1421141115&amp;token=&amp;lang=zh_CN
			jsApiList: [ 'checkJsApi','getLocation', 'onMenuShareTimeline', '' ]
		};
		
		$("#subscribe_btn").click(function(event) {
			console.info('subscribe_btn clicked');
			window.location=$(event.target).attr('href');
		});
		
		$("#oauth2_btn").click(function(event) {
			console.info('oauth2_btn clicked');
			window.location=$(event.target).attr('href');
		});
	
		wx.config(config);
		wx.ready(function() {
			wx.getNetworkType({
				success : function(res) {
					console.info('NetworkType: ' + res.networkType);
				}
			});
		});
	
	/*]]>*/
	</script>	
</body>
</html>