<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>微信红包</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
<link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css" />
<link rel="stylesheet" href="/css/app.css" />
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="address=no" />
<script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
</head>
<body>

<div class="container" id="container">
	<div class="page panel">
	    <div class="page__hd">
		    <article class="weui-article padding-left-article">
		           <h1 class="title">众信香油</h1>
		           <h1 th:text="${wechat_user_title}" class="title">亿元红包送不停！</h1>
		           <section>
		           		<p class="emphasis">恭喜您，微信认证成功！！！
		           		</p>
		           		<p th:text="'欢迎' + ${wxMpUser.nickname} + '回来，点击右上角的微信按钮，分享到朋友圈即可领取现金红包!'"/>
		           		<p th:text="${wechat_user_text}">请支持众信香油，我们将以更优质的产品和服务回报大家！</p>
		           </section>
		    </article>
	    </div>
	</div>
	
    <div class="weui-footer margin-top-footer">
       <p class="weui-footer__links">
           <a href="javascript:void(0);" class="weui-footer__link">微信红包</a>
       </p>
       <p class="weui-footer__text">Copyright © 2008-2016 inthb.com</p>
    </div>
</div>

	<script th:inline="javascript">
	/*<![CDATA[*/
	
		'use strict';
		
		var QueryString = function () {
			  // This function is anonymous, is executed immediately and 
			  // the return value is assigned to QueryString!
			  var query_string = {};
			  var query = window.location.search.substring(1);
			  var vars = query.split("&");
			  for (var i=0;i<vars.length;i++) {
			    var pair = vars[i].split("=");
			        // If first entry with this name
			    if (typeof query_string[pair[0]] === "undefined") {
			      query_string[pair[0]] = decodeURIComponent(pair[1]);
			        // If second entry with this name
			    } else if (typeof query_string[pair[0]] === "string") {
			      var arr = [ query_string[pair[0]],decodeURIComponent(pair[1]) ];
			      query_string[pair[0]] = arr;
			        // If third or later entry with this name
			    } else {
			      query_string[pair[0]].push(decodeURIComponent(pair[1]));
			    }
			  } 
			  return query_string;
			}();
	
		var message = [[${p_id}]];
		var config = {
			debug: false,
			appId: /*[[${jsapiSignature.appId}]]*/'appId',
			timestamp: /*[[${jsapiSignature.timestamp}]]*/'timestamp',
			nonceStr: /*[[${jsapiSignature.nonceStr}]]*/'nonceStr',
			signature: /*[[${jsapiSignature.signature}]]*/'signature',
			// https://mp.weixin.qq.com/wiki?t=resource/res_main&amp;id=mp1421141115&amp;token=&amp;lang=zh_CN
			jsApiList: [ 'checkJsApi','getLocation', 'onMenuShareTimeline', '' ]
		};
		var openId = /*[[${wxMpUser.openId}]]*/'openId'
	
		wx.config(config);
		wx.ready(function() {
			// 获取地理位置信息
			//alert('wx.getLocation invoking');
			wx.getLocation({
			    type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
			    success: function (res) {
			        var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
			        var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
			        var speed = res.speed; // 速度，以米/每秒计
			        var accuracy = res.accuracy; // 位置精度
					// alert("latitude:" + latitude + ", longitude:" + longitude + ", speed:" + speed + ", accuracy:" + accuracy);
					// ajax get方式调用后台接口准备发送红包
			        $.ajax({
			        	type: 'PUT',
			        	url: '/extra/location/'+ openId + '/' + latitude + '/' + longitude + '/',
			        	success: function(response){
				        	// console.info(response);
				        	// alert(response.data);
			        	},
				        error: function(xhr, errorType, error){
				        	console.info(error);
				        	alert(error);
			        	}
			        });
			    }
			});
			// 获取朋友圈分享状态
			wx.onMenuShareTimeline({
			    title: /*[[${wechat_share_title}]]*/'我领到众信香油大红包啦！', // 分享标题
			    link: /*[[${wechat_share_link}]]*/'http://inthb.cn/redpacket-share.html', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
			    imgUrl: /*[[${wechat_share_imgUrl}]]*/'http://inthb.cn/images/zhongxinxiangyou.jpg', // 分享图标
			    success: function () { 
			        // console.info('onMenuShareTimeline success');
			        // ajax get方式调用后台接口准备发送红包
			        $.get('/p/sharedtimeline', {state: QueryString.state, code: QueryString.code, openId: openId}, function(response){
			        	console.info(response);
			        	alert(response.data);
			        });
			        
			    },
			    cancel: function () { 
			        // console.info('onMenuShareTimeline cancel');
			    }
			});
			// 方便调试
			// setTimeout(function() {
		 //        $.get('/p/sharedtimeline', {state: QueryString.state, openId: openId}, function(response){
		 //        	console.info(response);
		 //        	alert(response.data);
		 //        });
			// }, 1000);
		});
	
	/*]]>*/
	</script>	
</body>
</html>
